@model IEnumerable<classProject.Models.Aluno>




    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a id="btnEditar" onclick="editar(@item.AlunoID)">Editar</a> |
                <a id="btnExcluir" onclick="excluir(@item.AlunoID)">Excluir</a>
            </td>
        </tr>
    }