@{
    ViewBag.Title = "Matrículas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matrículas</h2>

<div class="form-horizontal">

    <h4>Matricula</h4>

    <form id="form">
        <div class="form-row">
            <div class="form-group" style="margin-left:-12px;">

                <input type="hidden" name="MatriculaID" id="MatriculaID" value="0" />

                <div class="col-md-3 col-sm-12 col-xs-12">
                    @Html.Label("Aluno", htmlAttributes: new { @class = "ex3" })
                    @Html.DropDownList("AlunoID", (IEnumerable<SelectListItem>)ViewBag.Alunos, "Selecione o aluno", htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    @Html.Label("Curso", htmlAttributes: new { @class = "ex3" })
                    @Html.DropDownList("CursoID", (IEnumerable<SelectListItem>)ViewBag.Cursos, "Selecione o curso", htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    @Html.Label("Data da Matrícula", htmlAttributes: new { @class = "ex3" })
                    @Html.Editor("DataMatricula", new { htmlAttributes = new { @class = "form-control" } })
                    <input type="button" id="Btn_Salvar" value="Salvar" class="action btn btn-success pull-right" style="margin-top: 15px" />
                </div>
            </div>
        </div>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Curso</th>
                <th>Data Matrícula</th>
            </tr>
        </thead>
        <tbody id="tabelaIndex">
            @Html.Partial("_MatriculasPartial")
        </tbody>
    </table>

    <a href="#" id="Btn_Voltar" class="btn btn-warning pull-right" style="margin-top: 15px; margin-right:15px;">Voltar</a>

    <script src="~/Scripts/scripts.js"></script>

    <script>

    var controller = "/Matriculas";

    //Ao carregar a página, executa a função StartLocal()
    $(document).ready(StartLocal);

    //No escopo da StartLocal(), definir tudo que deverá ser carregado com a página
    function StartLocal() {


    };

    //Salvar
    $('#Btn_Salvar').on('click', function () {

        var matriculaCadastrar = { // Enviando para a controller salvar no banco
            matriculaId: $('#MatriculaID').val(),
            cursoId: $("#CursoID option:selected").val(),
            alunoId: $("#AlunoID option:selected").val(),
            dataMatricula: $('#DataMatricula').val()
        };

        var matriculaExibir = { // Exibindo na tabela
            matriculaId: $('#MatriculaID').val(),
            cursoId: $("#CursoID option:selected").text(),
            alunoId: $("#AlunoID option:selected").text(),
            dataMatricula: $('#DataMatricula').val()
        }

        //Chamada do Ajax para trazer os detalhes da ordem
        $.ajax({
            url: controller + '/Cadastrar', //selecionando o endereço que iremos acessar no backend
            type: 'POST', //selecionando o tipo de requesição, PUT,GET,POST,DELETE
            data: matriculaCadastrar,
            beforeSend: function () {
                //Caso você precise fazer alguma validação antes de enviar os dados
            },
            success: function (resposta) {
                //Em caso de sucesso, executa as funções:
                resetForm();
                exibirAlert();
                addRegistro(matriculaExibir)
            },
            error: function (err) {
                //Em caso de erro
                console.log(err);
            }
        });
    });

    //Editar
    function editar(id) {
        //Chamada do Ajax para trazer os detalhes da ordem
        $.ajax({
            url: controller + '/Editar/' + id, //selecionando o endereço que iremos acessar no backend
            type: 'GET', //selecionando o tipo de requesição, PUT,GET,POST,DELETE
            success: function (resposta) {
                if (resposta.resultado) {
                    $('#MatriculaID').val(resposta.matriculaCadastrar.MatriculaID);
                    $('#AlunoID').val(resposta.matriculaCadastrar.AlunoID);
                    $('#CursoID').val(resposta.matriculaCadastrar.CursoID);
                    $('#DataMatricula').val(resposta.matriculaCadastrar.DataMatricula);
                }
            },
            error: function (err) {
                //Em caso de erro
                console.log(err);
            }
        });
    }

    //Adiciona um registro na tabela
    function addRegistro(matriculaExibir, resposta) {
        $(".table").append(
            `<tr>
                    <td> ${matriculaExibir.alunoId} </td>
                    <td> ${matriculaExibir.cursoId} </td>
                    <td> ${matriculaExibir.dataMatricula} </td>
                    <td> <a id="btnEditar" onclick="editar(${resposta})"> Editar </a> | <a id="btnExcluir" onclick="excluir(${resposta})"> Excluir </a> </td>
                </tr>`);
    }

    </script>
